<a href="https://colab.research.google.com/github/mickythegeek/HNGi7_Titans_Task2/blob/master/MichaelDavid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np

In [5]:
import pandas as pd

In [16]:
import scipy.stats as stats

In [6]:
import io

In [7]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [8]:
df1 = pd.read_csv(url)

In [9]:
df1

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [25]:
for_std = df1.loc[: , "fuel_mmbtu_per_unit"]

In [26]:
for_std

0        16.590
1        16.592
2        24.130
3        23.950
4         1.000
          ...
29518     1.059
29519     1.050
29520     1.060
29521    16.108
29522     1.059
Name: fuel_mmbtu_per_unit, Length: 29523, dtype: float64

In [29]:
df1.std()

utility_id_ferc1                7.417835e+01
report_year                     7.025483e+00
fuel_qty_burned                 9.118004e+06
fuel_mmbtu_per_unit             1.060022e+01
fuel_cost_per_unit_burned       2.854490e+03
fuel_cost_per_unit_delivered    6.877593e+04
fuel_cost_per_mmbtu             2.091541e+03
dtype: float64

In [30]:
df1.fuel_mmbtu_per_unit.quantile(0.75)

17.006

In [34]:
df1.skew(axis = 0, skipna=True)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [35]:
df1.isnull()

       record_id  ...  fuel_cost_per_mmbtu
0          False  ...                False
1          False  ...                False
2          False  ...                False
3          False  ...                False
4          False  ...                False
...          ...  ...                  ...
29518      False  ...                False
29519      False  ...                False
29520      False  ...                False
29521      False  ...                False
29522      False  ...                False

[29523 rows x 11 columns]

In [44]:
for_avg = df1.loc[:,"fuel_cost_per_unit_delivered"]

In [45]:
for_avg

0        18.53
1        18.53
2        38.12
3        45.99
4         2.77
         ...
29518     4.78
29519     3.65
29520     4.77
29521    14.76
29522     0.00
Name: fuel_cost_per_unit_delivered, Length: 29523, dtype: float64